@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Poppins:wght@400;600;700&display=swap');
body{
  padding: 0 , 4rem;
 
}
p{
 font-family: 'Montserrat', sans-serif; 
  color:  #4A4A4A; 
  font-weight: bold;
  font-size: 1rem;
}
.luxury-text {
  font-family: 'Playfair Display', serif;
 }
.submitBtn {
  position: sticky;
  background-color: #cc4869;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 1rem ;
  font-size: 1rem;
  font-weight: bolder;
}