.content {
  flex: 1;
  display: flex;
  justify-content: center; /* centra horizontal */
  align-items: center;     /* centra vertical */
  padding: 2rem;
}
.formu{
  background-color: beige;
  border: 2px solid rgb(45, 20, 112);
  border-radius: 2rem;
  padding: 2rem;
}